Repository gavincwyant/TrainTrack: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

Add login loading UI, clean calendar labels, and tenant isolation tests
  app/(auth)/login/page.tsx
  app/api/pending-appointments/[id]/reject/route.ts
  lib/services/calendar-sync.ts
  tests/integration/security/tenant-isolation.test.ts
Due: unittests, integration

Polish calendar UI, add recurring appointments, and landing page updates
  .env.example
  app/(trainer)/trainer/calendar/calendar-custom.css
  app/(trainer)/trainer/calendar/page.tsx
  app/_components/VideoPlayer.tsx
  app/page.tsx
  components/AppointmentModal.tsx
  components/BlockTimeModal.tsx
  lib/google-calendar.ts
  lib/services/calendar-sync.ts
Due: unittests

Fix video end card overflow on mobile viewports
  app/_components/VideoPlayer.tsx
Due: none

Add forgot password flow with email reset
  app/(auth)/forgot-password/page.tsx
  app/(auth)/login/page.tsx
  app/(auth)/reset-password/page.tsx
  app/api/auth/forgot-password/route.ts
  app/api/auth/reset-password/route.ts
  lib/services/email.ts
  prisma/schema.prisma
  tests/integration/auth/password-reset.test.ts
Due: unittests, integration

Add Vercel Analytics for visitor tracking
  app/layout.tsx
  package-lock.json
  package.json
Due: none

Add contact form and Cal.com booking to landing page
  .env.example
  app/api/contact/route.ts
  app/page.tsx
  components/ContactModal.tsx
  lib/services/email.ts
Due: unittests, integration

Fix contact email default to gavin@trytraintrack.net
  lib/services/email.ts
Due: unittests

Add SEO improvements: metadata, sitemap, OG images, robots.txt
  app/layout.tsx
  app/opengraph-image.tsx
  app/sitemap.ts
  app/twitter-image.tsx
  public/robots.txt
Due: none

Redesign auth pages with amber/orange theme and add Google OAuth
  app/(auth)/forgot-password/page.tsx
  app/(auth)/login/page.tsx
  app/(auth)/signup/page.tsx
  app/(trainer)/trainer/_components/SettingsModal.tsx
  app/(trainer)/trainer/_components/actions.ts
  app/(trainer)/trainer/_components/settings/BusinessSettings.tsx
  app/(trainer)/trainer/layout.tsx
  app/api/auth/signup/route.ts
  app/api/google-calendar/callback/route.ts
  app/api/onboarding/route.ts
  app/api/trainer-settings/business/route.ts
  app/onboarding/page.tsx
  lib/auth.ts
  prisma/schema.prisma
  types/next-auth.d.ts
Due: integration

Fix flaky test: move prepaid appointments outside monthly billing period
  tests/integration/workflows/prepaid-multi-month.test.ts
Due: none

Update E2E tests for new signup flow
  tests/e2e/flows/auth.spec.ts
  tests/e2e/flows/trainer-onboarding.spec.ts
  tests/e2e/helpers/auth.ts
Due: none

Fix E2E test: update expected h2 text to 'Start for free'
  tests/e2e/flows/auth.spec.ts
Due: none

Fix dark mode styling and Dark Reader conflicts
  app/globals.css
  app/layout.tsx
Due: none

Consolidate cron jobs to fit Vercel free tier (2 max)
  app/api/cron/complete-appointments/route.ts
  app/api/cron/sync-calendars/route.ts
  vercel.json
Due: integration

Path conditions:
  unittests: any of: lib/services/, lib/utils/, but not: tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.ts, **/*.config.js, **/*.d.ts, types/**, prisma/migrations/**, scripts/**, .next/**, out/**, build/**, node_modules/**
  integration: any of: app/api/, lib/middleware/, but not: tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.ts, **/*.config.js, **/*.d.ts, types/**, prisma/migrations/**, scripts/**, .next/**, out/**, build/**, node_modules/**
