Repository gavincwyant/TrainTrack: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  hide_project_coverage: no

ignore:
  - "tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/*.d.ts"
  - "types/**"
  - "prisma/migrations/**"
  - "scripts/**"
  - ".next/**"
  - "out/**"
  - "build/**"
  - "node_modules/**"

flags:
  unittests:
    paths:
      - lib/services/
      - lib/utils/
    carryforward: true

  integration:
    paths:
      - app/api/
      - lib/middleware/
    carryforward: true

dark/light mode bug fixes
  app/(admin)/admin/users/page.tsx
  app/(trainer)/trainer/clients/[id]/page.tsx
  app/(trainer)/trainer/clients/[id]/progress/page.tsx
  app/(trainer)/trainer/pending/_components/ApproveClientModal.tsx
  app/(trainer)/trainer/pending/_components/PendingClientCard.tsx
  app/(trainer)/trainer/pending/_components/PendingClientsTab.tsx
  app/(trainer)/trainer/workouts/log/page.tsx
Due: none

Add skeleton UI loading to analytics page
  app/(trainer)/trainer/analytics/page.tsx
Due: none

dark/light mode bug fixes (for calendar)
  app/(trainer)/trainer/calendar/calendar-custom.css
  app/(trainer)/trainer/calendar/page.tsx
  app/(trainer)/trainer/workouts/log/page.tsx
Due: none

mobile calendar small bug fixes and attempted tact feedback but ios hates devs
  app/(trainer)/trainer/calendar/calendar-custom.css
  app/(trainer)/trainer/calendar/page.tsx
  components/calendar/DragSelectionOverlay.tsx
  hooks/useDragToCreate.ts
Due: none

mobile calendar - larger appointment cards and small bug fixes
  app/(trainer)/trainer/calendar/calendar-custom.css
  app/(trainer)/trainer/calendar/page.tsx
  hooks/useCalendarSwipe.ts
  hooks/useDragToCreate.ts
Due: none

more calendar bug fixes - small stuff
  app/(trainer)/trainer/calendar/calendar-custom.css
  app/(trainer)/trainer/calendar/page.tsx
  components/AppointmentDetailModal.tsx
  components/AppointmentModal.tsx
  components/BlockTimeModal.tsx
  components/BlockedTimeDetailModal.tsx
  hooks/useDragToCreate.ts
Due: none

client view
  app/(client)/_components/ClientDropdown.tsx
  app/(client)/_components/ClientMobileNav.tsx
  app/(client)/_components/ClientNav.tsx
  app/(client)/_components/ClientSettingsModal.tsx
  app/(client)/_components/actions.ts
  app/(client)/_components/settings/NotificationSettings.tsx
  app/(client)/_components/settings/ProfileSettings.tsx
  app/(client)/_components/useClientSettings.ts
  app/(client)/client/appointments/page.tsx
  app/(client)/client/dashboard/page.tsx
  app/(client)/client/history/page.tsx
  app/(client)/client/invoices/page.tsx
  app/(client)/client/profile/page.tsx
  app/(client)/client/schedule/page.tsx
  app/(client)/client/workouts/page.tsx
  app/(client)/layout.tsx
  app/api/client-settings/route.ts
  app/api/client/invoices/route.ts
  app/api/client/workouts/route.ts
  components/EmptyState.tsx
  components/OverviewCard.tsx
  components/StatusBadge.tsx
  prisma/schema.prisma
  scripts/migrate-client-trainer-relations.ts
Due: integration

client calendar improvements - made the client calendar the same as trainer
  app/(client)/client/appointments/page.tsx
  app/api/trainer-settings/route.ts
  components/calendar/CalendarCore.tsx
  components/calendar/ClientCalendar.tsx
  components/calendar/calendar.css
Due: integration

Add group session permissions feature with comprehensive test suite
  app/(client)/_components/ClientSettingsModal.tsx
  app/(client)/_components/settings/GroupSessionSettings.tsx
  app/(client)/_components/useClientSettings.ts
  app/api/appointments/route.ts
  app/api/blocked-times/route.ts
  app/api/client-settings/route.ts
  app/api/client/group-session-allowed-clients/route.ts
  components/calendar/ClientCalendar.tsx
  prisma/schema.prisma
  tests/fixtures/workspace.ts
  tests/integration/api/appointments-availability.test.ts
  tests/integration/api/appointments-booking.test.ts
  tests/integration/api/blocked-times-client.test.ts
  tests/integration/api/group-session-allowed-clients.test.ts
  tests/integration/security/group-sessions-security.test.ts
  tests/setup/test-db.ts
  tests/unit/lib/group-session-permissions.test.ts
Due: integration

client view group session debuggin - modals list all clients now
  components/calendar/ClientCalendar.tsx
Due: none

small bug fixes - dark/light mode, trainer ui, 404
  app/(trainer)/trainer/clients/[id]/edit/page.tsx
  app/globals.css
Due: none

group session stuff
  app/(trainer)/trainer/_components/SettingsModal.tsx
  app/(trainer)/trainer/_components/settings/PricingSettings.tsx
  app/(trainer)/trainer/_components/useTrainerSettings.ts
  app/(trainer)/trainer/calendar/page.tsx
  app/(trainer)/trainer/clients/[id]/edit/page.tsx
  app/(trainer)/trainer/clients/[id]/page.tsx
  app/(trainer)/trainer/clients/new/page.tsx
  app/(trainer)/trainer/settings/page.tsx
  app/api/appointments/route.ts
  app/api/clients/[id]/route.ts
  app/api/clients/route.ts
  app/api/trainer-settings/route.ts
  components/AppointmentModal.tsx
  components/GroupSessionDetailModal.tsx
  components/mobile/MobileDrawer.tsx
  lib/services/invoice.ts
  prisma/schema.prisma
  tests/fixtures/workspace.ts
  tests/unit/services/invoice.test.ts
Due: unittests, integration

added xlsx export, monthly invoices
  app/(trainer)/trainer/analytics/page.tsx
  app/(trainer)/trainer/invoices/page.tsx
  app/api/analytics/export/route.ts
  app/api/invoices/monthly-preview/route.ts
  package-lock.json
  package.json
Due: integration

Add prepaid billing system with balance tracking and top-up invoices
  app/(trainer)/trainer/clients/[id]/edit/page.tsx
  app/(trainer)/trainer/clients/[id]/page.tsx
  app/(trainer)/trainer/clients/new/page.tsx
  app/(trainer)/trainer/clients/page.tsx
  app/(trainer)/trainer/invoices/[id]/page.tsx
  app/(trainer)/trainer/invoices/page.tsx
  app/api/appointments/[id]/route.ts
  app/api/appointments/route.ts
  app/api/clients/[id]/route.ts
  app/api/clients/route.ts
  app/api/invoices/[id]/route.ts
  app/api/prepaid/[clientId]/route.ts
  app/api/prepaid/[clientId]/transactions/route.ts
  app/api/prepaid/route.ts
  lib/services/invoice.ts
  lib/services/prepaid.ts
  prisma/schema.prisma
  tests/fixtures/workspace.ts
  tests/integration/api/appointments-availability.test.ts
  tests/integration/api/clients-prepaid.test.ts
  tests/integration/api/prepaid.test.ts
  tests/integration/services/prepaid.test.ts
  tests/integration/workflows/prepaid-concurrent-deductions.test.ts
  tests/integration/workflows/prepaid-credit-application.test.ts
  tests/integration/workflows/prepaid-multi-month.test.ts
  tests/integration/workflows/prepaid-session-flow.test.ts
  tests/integration/workflows/prepaid-void-switch.test.ts
Due: unittests, integration

Add confirmation dialog when scheduling past appointments
  app/api/invoices/[id]/void-and-switch/route.ts
  components/AppointmentModal.tsx
Due: integration

system preference light/dark mode bugs
  app/(admin)/admin/trainers/[id]/page.tsx
  app/(admin)/admin/users/[id]/delete/_components/DeleteUserForm.tsx
  app/(admin)/admin/users/[id]/delete/page.tsx
  app/(admin)/admin/users/[id]/edit/page.tsx
  app/(admin)/admin/users/_components/UserForm.tsx
  app/(admin)/admin/users/new/page.tsx
  app/(client)/_components/ClientSettingsModal.tsx
  app/(trainer)/trainer/_components/SettingsModal.tsx
  app/(trainer)/trainer/_components/TrainerMobileNav.tsx
  app/(trainer)/trainer/_components/settings/SchedulingSettings.tsx
  app/_components/TypingTitle.tsx
  components/mobile/MobileDrawer.tsx
Due: none

sticky mobile header, export formats
  app/(client)/_components/ClientHeader.tsx
  app/(client)/_components/ClientMobileNav.tsx
  app/(client)/layout.tsx
  app/(trainer)/trainer/_components/TrainerHeader.tsx
  app/(trainer)/trainer/_components/settings/SchedulingSettings.tsx
  app/(trainer)/trainer/analytics/page.tsx
  app/(trainer)/trainer/availability/page.tsx
  app/(trainer)/trainer/calendar/page.tsx
  app/(trainer)/trainer/dashboard/page.tsx
  app/(trainer)/trainer/layout.tsx
  app/(trainer)/trainer/settings/page.tsx
  app/(trainer)/trainer/workouts/page.tsx
  app/api/availability/[id]/route.ts
  app/api/availability/route.ts
  app/api/workout-sessions/export/route.ts
  package-lock.json
  package.json
Due: integration

Add SMS notification system and email reminder infrastructure
  .env.example
  app/(client)/_components/ClientSettingsModal.tsx
  app/(client)/_components/settings/NotificationSettings.tsx
  app/(client)/_components/useClientSettings.ts
  app/(trainer)/trainer/_components/SettingsModal.tsx
  app/(trainer)/trainer/_components/settings/NotificationSettings.tsx
  app/(trainer)/trainer/_components/useTrainerSettings.ts
  app/api/client-settings/route.ts
  app/api/cron/appointment-reminders/route.ts
  app/api/cron/invoice-reminders/route.ts
  app/api/cron/retry-notifications/route.ts
  app/api/trainer-settings/route.ts
  app/api/webhooks/twilio/status/route.ts
  lib/services/email.ts
  lib/services/sms.ts
  lib/utils/phone.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  tests/unit/lib/phone.test.ts
  tests/unit/services/sms.test.ts
Due: unittests, integration

Fix eslint config: disable overly strict react-hooks/set-state-in-effect rule
  app/(client)/_components/ClientHeader.tsx
  app/(trainer)/trainer/_components/TrainerHeader.tsx
  app/(trainer)/trainer/_components/settings/PricingSettings.tsx
  components/PendingAppointmentsBadge.tsx
  eslint.config.mjs
Due: none

Fix CI: use db push instead of migrations for test database
  .github/workflows/test.yml
Due: none

Fix E2E tests: correct NEXTAUTH_URL port and improve locators
  .github/workflows/test.yml
  tests/e2e/flows/trainer-onboarding.spec.ts
Due: none
